@import "sass/base";

:root {
  --color-green: #55c57a;
  --color-green-light: #7ed56f;
  --color-green-dark: #28b485;
  
  --color-orange-light: #ffb900;
  --color-orange-dark: #ff7730;
  
  --color-blue-light-1: #22a7f0;
  --color-blue-light-2: #2998ff;
  
  --color-blue-dark-1: #5643fa;
  --color-blue-dark-2: #1f3a93;
  
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  
  --color-white: #fff;
  
  --color-black: #000;
  
  --color-pink: #eb2f64;
  --color-pink-light: #FF3366;
  --color-pink-dark: #BA265D;
  
  --color-red: #f62459;
  --color-red-light: #d91e18;
  --color-red-dark: #cf000f;
  
  --shadow-dark:  0 2rem 2rem rgba(0, 0, 0, .3);
  
  --default-font-size: 1.6rem;
  }

    
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
};

body {
     /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 400;
    line-height: 1.6;
    min-height: 100vh;
};

a {
    text-decoration: none;
    color: white;
}

a:hover{
    border: 1px solid transparent;
    text-decoration: none;
    color: white;
}
.gotop-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.gotop {
    margin: 0 auto;
    font-size: 1.6rem;
    background-color: transparent;
    border: 2px solid black;
    color: #000;
}

.gotop a {
    color: black;
}

.gotop a:hover {
    color: white;
}